
#banner { background:none !important; color:#000000 !important; text-align:center; }

#panel { display:none !important }

#content { margin-left:150px; border-bottom:solid 1px #999; }

#page { margin: 0.5em; }

#wrapper { background:none; background-color:white; }

ul {
	list-style-type: circle;
}

#panel a:link, a:visited {
	    text-decoration: none;
		display:block;
		line-height: 1em;
		padding:10px;
		color:#000000; 
		text-decoration:none;
	 }
	 
#panel a:hover {
	    background-color: transparent;
	    text-decoration: underline;
	}


strong {
	font-weight:bold;
	color:#003366;
}

pre {
	font-family:Arial, Helvetica, sans-serif;
}

p { 
	line-height: 1.4em;
}
 
.hightlight { 
font-style:italic;
font-family:"Courier New", Courier, monospace;
}

.code { 
	font-size-adjust:0.4;
	color:black;
	background-color:#F5F5F5;
	font-family:"Courier New",Courier,monospace;
	font-style:normal;
	margin:1em 0;
	padding: 0.5em;
	border: 1px dashed black;
}


.box { 
	font-size-adjust:0.5;
	color:black;
	background-color:#F5F5F5;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	margin:1em 0;
	padding: 0.5em;
	border: 1px solid black;
	display:block;
}

.u { text-decoration: underline; }
.headeru { text-shadow: black 0.05em 0.05em 0.01em ;} 

/* Table styles */
table {
	border-collapse: collapse; 
	border: 1px solid #666;
	margin: 20px 0 20px 0;
	width: 100%;
}
th, td {
	margin: 2px 4px 2px 4px;
	padding: 0 5px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #666;
}

table caption {
	font: 1.5em Georgia, "Times New Roman", Times, serif; 
	padding: 1em;
	background-color: #9c9;
}

.mainheader {
	font: 1.5em Georgia, "Times New Roman", Times, serif; 
	background-color: #9c9;
	text-align:center;
	line-height:1em;
}

tr {
	 background-color: #eee; 
}

tr:nth-child(odd) {
	 background-color: #ccc; 
}


span.directory {
background: transparent url(images/dir.gif) no-repeat scroll left center;
color:#666666;
font-family:"Courier New",Courier,monospace;
font-style:normal;
padding:0 0 0 15px;
}

.attention { 
color:#993333;
}

.source { 
	border:1px solid #858789;
	display:block;
	margin:26px 0;
	overflow:visible;
}

/* OPEN state styles */
.source .body {
	background:#F5F5F5 none repeat scroll right 0;
	color:#434546;
	padding:7px 15px;
/*	white-space:pre-wrap; */
	word-wrap:break-word;
}

.source .header {
	background:#E9EAEC url(images/minus.png) no-repeat scroll 98% center;
	color:#3B3D3F;
	cursor:pointer;
	font-weight:bold;
	height:30px;
	line-height:30px;
	padding:0 0 0 15px;
}

/* CLOSED state styles */
.source .body.collapsed {
	display:block !important;
}

.source .header.collapsed  {
	background:#E9EAEC url(images/plus.png) no-repeat scroll 98% center;
	padding:0 15px 0 15px;
}

#copyright { text-align:right; 
			 color:#999999; 
			 font-family:Verdana, Arial, Helvetica, sans-serif;
			 font-size:smaller;
			 line-height:1em;
 }

.body .code { 
	margin:0;
	padding:0;
	border:0;
	font-family:"Courier New",Courier,monospace;
	font-style:normal;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background-color: white;
	line-height: 2em;
}

h3 {border-bottom: 1px solid grey; margin-top: 2em; }